#?.md version="1.0" encoding="utf-8" standalone="no"?
#?author="Castiga"?
#Exemple
  #	<!-- Whole Folder -->
  # *.shapes
  #	<!-- Specific Folder -->
  # *data/*.shapes

# Compiled sources

# build files

#	<!-- Grover_Strand -->
*FS19_Grover_Strand_by_EDGE/*.shapes
*FS19_Grover_Strand_by_EDGE/*.cache

#	<!-- Mundano_del_Mar -->
*FS19_Mundano_del_Mar_By_EDGE/maps/*.shapes
*FS19_Mundano_del_Mar_By_EDGE/maps/*.cache

#	<!-- Condado_de_Borde -->
*FS19_condado_de_borde/*.shapes
*FS19_condado_de_borde/*.cache

#	<!-- Sosnovka -->
*FS19_Sosnovka_By_EDGE/maps/*.shapes
*FS19_Sosnovka_By_EDGE/maps/*.cache

#	<!-- Crater_Bay -->
*FS19_Crater_Bay_By_EDGE/maps/*.shapes
*FS19_Crater_Bay_By_EDGE/maps/*.cache

## Object files
*.xcf

# Prerequisites

# Precompiled Headers

# Folder config file
*Desktop.ini

# Libraries
*.mayaSwatches
*Map items/
*MapBackupWork/
*Maya_Projects/
*Mods at work Folder/

# Shared objects (inc. Windows DLLs)

# Executables
