# Compiled sources

# build files
*.shapes
FS19_condado_de_borde/*.shapes
*.cache
FS19_condado_de_borde/*.cache

# Object files

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables
