# Compiled sources

# build files
*FS19_Grover_Strand_by_EDGE/*.shapes
*FS19_Grover_Strand_by_EDGE/*.cache
*FS19_Mundano_del_Mar_By_EDGE/maps/*.shapes
*FS19_Mundano_del_Mar_By_EDGE/maps/*.cache
*FS19_condado_de_borde/*.shapes
*FS19_condado_de_borde/*.cache

*FS19_Sosnovka_By_EDGE/maps/*.shapes
*FS19_Sosnovka_By_EDGE/maps/*.cache

# Object files

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables
