# Compiled sources

# build files
*.shapes
!FS19_Grover_Strand_by_EDGE/**/*.shapes
*.cache
!FS19_Grover_Strand_by_EDGE/**/*.cache

# Object files

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables
