#.md version="1.0" encoding="utf-8" standalone="no"
# Compiled sources

# build files
*.mb
*.mayaSwatches

# Object files
*.xcf

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables
